body{
background-color:#ffffff;
text-color:#000000;
secondary-color:#d4af37;
accent-color:#ffffff;
font-family:Arial,sans-serif;
}
.message{
colour:black;
font-size 36px;
}
<img src="images/IMG-20240726-WA0002" ALT="My Image" class="my-image>"
